@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;705;800&family=JetBrains+Mono:wght@400;500;605;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

/* Otimizações visuais globais */
body {
  background-color: #020617; /* Slate-950 profundo */
  color: #f8fafc; /* Slate-50 */
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

/* Esconder barra de rolagem onde desejado */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
